/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: grey;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Убираем Vite button styling */
button {
  all: unset;
}
